/* TODO Add site wide styles */
.demo-btn:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

#testing {
  color: white;
}

div {
  color: black;
}

[type="checkmark"] > .testing {
  color: #f93fff;
}
