.DisplayFrame {
  touch-action: none;
  width: 100%;
  max-width: 960px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 1;
  caret-color: transparent;
  margin: auto;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid #c7c7c7;
}

.DisplayFrame::-webkit-scrollbar {
  display: none;
}

.carousel {
  max-width: 960px;
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: 1px solid ssblue;
  overflow: hidden;
}

.carousel-card {
  max-width: 960px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid red;
}

.carousel-card img {
  width: 100%;
  max-width: 960px;
  height: 100%;
}
