.supply-nav-bar {
  width: 100%;
  margin: 0 auto;
}

.topbar-wrapper {
  width: 100%;
  height: 43px;
  background-color: black;
}

.topbar {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arimo", sans-serif;
  height: 100%;
  font-size: 12px;
  font-weight: 900;
  padding-bottom: 2px;
}

.topbar-left {
  font-size: 20px;
  font-family: "Domine", serif;
}

.topbar-left a {
  color: white;
  text-decoration: none;
}

.topbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.topbar li {
  margin: 0 13px;
  letter-spacing: 1px;
}
