.all-products-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.featured-product {
  display: grid;
  grid-template-columns: auto;
  max-width: 960px;
  border: 1px solid #c7c7c7;
  margin-bottom: 35px;
}

.featured-product-image {
  height: 641px;
  width: 960px;
}

.featured-product-text {
  height: 200px;
}

.featured-product-category {
  font-family: "Roboto", sans-serif;
  color: #989898;
  font-size: 13px;
  padding: 12px 0;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.featured-product-title {
  font-family: "Oswald", sans-serif;
  font-size: 27px;
}

.featured-product-description {
  font-family: "Domine", serif;
  font-size: 15px;
  margin: 0 220px;
  padding-bottom: 20px;
  line-height: 25px;
}

.featured-product-buy-link {
  font-family: "Domine", serif;
  border-bottom: 1px solid #ae9e85;
  color: #ae9e85;
}

.all-other-products {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 980px;
}

.all-other-products-one-product {
  border: 1px solid #c7c7c7;
  margin: 10px;
}

.all-other-products-image {
  width: 468px;
  height: 313px;
}

.all-other-products-text {
  height: 210px;
}

.all-other-products-title {
  font-family: "Oswald", sans-serif;
  font-size: 23px;
}

.all-other-products-description {
  font-family: "Domine", serif;
  font-size: 15px;
  margin: 0 20px;
  padding-bottom: 20px;
  line-height: 25px;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-link-buy {
  text-decoration: none;
  color: #ae9e85;
}

@media (max-width: 1000px) {
    .splash-header-icons-wrapper {
        position: absolute;
        right: 200px;
    }

    .featured-product {
        max-width: 80vw;
    }

    .featured-product-image {
        max-width: 80vw;
        height: auto;
    }

    .all-other-products {
        grid-template-columns: auto;
        max-width: 80vw;
    }

    .all-other-products-image {
        width: 80vw;
        height: auto;
    }

    .featured-product-description,
    .all-other-products-description {
        width: 60vw;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .topbar ul,
    .nav-bar-categories,
    .nav-bar-categories-border {
        display: none;
    }
    .reduncrate-logo {
        width: 300px;
        margin-top: 39px;
        height: auto;
    }
}
