<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST A PRODUCT</title>
</head>
<body>
    <h1>HELLO FROM POST A PRODUCT</h1>
    <form method="post" action="/api/products/new">
        {{ form.csrf_token }}
        <p>{{ form.title.label }}{{ form.title }}</p>
        <p>{{ form.description.label }}{{ form.description }}</p>
        <p>{{ form.detailed_description.label }}{{ form.detailed_description }}</p>
        <p>{{ form.category_id.label }}{{ form.category_id }}</p>
        <p>{{ form.price.label }}{{ form.price }}</p>
        <p>{{ form.preview_img_url.label }}{{ form.preview_img_url }}</p>
        <p>{{ form.submit }}</p>
    </form>
</body>
</html>
