<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST AN IMAGE</title>
</head>

<body>
    <h1>HELLO FROM IMAGE FORM</h1>
    <form method="post" action="{{ url_for('images.create_image', product_id=product_id)}}">
        {{ form.csrf_token }}
        {{ form.url.label }}{{ form.url }}
        {{ form.submit }}
    </form>
</body>

</html>
